#title-container {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

#table-container {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px black;
    border-bottom: solid black 1px;
}

.row {
    margin: 0%;
    padding: 0%;
    display: flex;
    width: 100%;
    justify-content: space-around;
   
}


.table-cell {

    margin: 0%;
    padding: 1%;
    width: 17%;
    display: flex;
    justify-content: center;
    border-right: solid 5px black;
    border-left: solid 5px black;


    
}

.table-cell p {
    text-align: center;
    font-size: 10pt;
}

img {
    width: 78%;
    height: auto;
}

.imgHidden{
    visibility: hidden;
}

#button{
    margin: 0%;
    padding: 0%;
    width: 20%;
    display: flex;
    justify-content: center;
}

#button button{
    display: flex;
    justify-content: center;
}
#comment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment
{
    width: 130%;
    height: 20vh;
    resize: none;
}
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop-name {
    margin: 0%;
    padding: 0%;

}

#shop-address {
    margin: 0%;
    padding: 0%;

}